{
    "PANGEA_CLIENT_TOKEN": "pcl_xxxxxxxxxxxxxxxxxxxxxxxx",
    "PANGEA_DOMAIN": "xxx.xxxxxxx.pangea.cloud",
    "PANGEA_AUTHN_CALLBACK_URI": "http://localhost:57253",
    "PANGEA_AUTHN_HOSTED_LOGIN_URI": "https://pdn-xxxxxxxxxxxxxxxxxxxx.login.aws.us-east.pangea.cloud/authorize?state=xxxxxxxxxxxxx",
}