name: CI

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

  merge_group:

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        platform: ["apk", "ios", "macos"]
    defaults:
      run:
        working-directory: ./examples/authn_demo
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
      - name: Set up Flutter
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: stable
          cache: true
      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: 17
        if: matrix.platform == 'apk'
      - run: flutter --version
      - run: flutter config --no-analytics
      - run: flutter doctor --verbose
      - run: flutter build ${{ matrix.platform }} --release
        if: matrix.platform != 'ios'
      - run: flutter build ${{ matrix.platform }} --release --no-codesign
        if: matrix.platform == 'ios'
